name: Python CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs: 
    test: 
        runs-on: ubuntu-latest
        env: 
            PYTHONPATH: ${{github.workspace}} #aca vamos a decir donde se va a guardad el entorno vitrual
        strategy:
            fail-fast: false
            matrix: 
                python-version: ["3.10", "3.11", "3.12"] #decimos cuales son las versiones
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup python
              uses: actions/setup-python@v5
              with:
                python-version: ${{matrix.python-version}} #instalamos las versiones
                cache: pip
                cache-dependency-path: requirements.txt #solo lo pongo dentro del cache
            - name: Intall dependencies
              run: pip install -r requirements.txt
            - name: Run test
              run: pytest -q


            